* {
	padding: 0;
	margin: 0;
}

body {
	
	font-size: 14px;
	direction: rtl;
    text-align: right;
    font-family: 'Cairo', sans-serif;
}

a {
	color: #681F00;
}

a:hover {
	color: #681F00;
}

h1,
h2,
h3 {
	font-weight: 700;
}

h4,
h5 {
	font-weight: 600;
}

h6 {
	font-weight: 500;
}

.white {
	color: #000000 !important;
}

.black {
	color: #000000;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}

.navbar .active {
	color: #FF540A !important;
}

.navbar .navbar-brand .logo-1 {
	width: 80px;
	height: 50px;
}

.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}

.navbar-nav {
	display: flex;
	gap: 30px; 
	margin-right: auto;
	align-items: center;
  }



  .navbar ul li a {
	color: #5e1f00;
	text-decoration: none;
	position: relative;
	transition: all 0.3s ease-in-out;
  }
  
  .navbar ul li a::after {
	content: '';
	position: absolute;
	bottom: -5px;
	right: 0;
	width: 0;
	height: 2px;
	background: #5e1f00;
	transition: width 0.3s ease-in-out;
  }
  
  .navbar ul li a:hover::after {
	width: 100%;
	left: 0;
  }
  


  .navbar ul li {
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeSlideIn 0.6s ease forwards;
  }
  
  .navbar ul li:nth-child(1) { animation-delay: 0.2s; }
  .navbar ul li:nth-child(2) { animation-delay: 0.4s; }
  .navbar ul li:nth-child(3) { animation-delay: 0.6s; }
  .navbar ul li:nth-child(4) { animation-delay: 0.8s; }
  .navbar ul li:nth-child(5) { animation-delay: 1s; }
  
  @keyframes fadeSlideIn {
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  






  
  .navbar-nav .nav-link {
	font-weight: 500;
	font-size: 16px;
	color: #000; 
	transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
	color: #c1440e; 
	
  }
  
  .navbar-nav {
	direction: rtl;
  }
  
  
  .navbar-brand {
	margin-left: auto;
  }
  

.navbar .nav-item a {
	color: #681F00;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
}

.navbar .nav-item a:hover {
	color: #FF540A;
}

.navbar .nav-link {
	position: relative;
	padding: 0;
}

.navbar .navbar-toggler {
	cursor: pointer;
}

.navbar .navbar-toggler span {
	color: #681F00;
}

.navbar-style2 .active:after,
.navbar-style2 .nav-link:after {
	display: none;
}

.nav-scroll {
	background: #ffffff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.nav-scroll .navbar-nav>li>a {
	color: #333;
}

.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}

.nav-scroll .navbar-toggler {
	cursor: pointer;
}

.nav-scroll .navbar-toggler span {
	color: #333;
}

.nav-scroll .nav-link:hover:after {
	background-color: #000000;
}

.nav-scroll .active {
	position: relative;
}

#rafiq-logo {
	width: 100%;
	animation: logoBounce 2s ease-in-out infinite;
	transform-origin: center;
	
  }
  
  @keyframes logoBounce {
	0% {
	  transform: scale(0.95) rotate(-3deg);
	}
	50% {
	  transform: scale(1.05) rotate(3deg);
	}
	100% {
	  transform: scale(0.95) rotate(-3deg);
	}
  }





  
.banner {
	height: 100vh; /* كل ارتفاع الشاشة */
	display: flex;
	align-items: center;
	justify-content: center;
	background: #681F00;
	background: linear-gradient(to right, #F3E2B0, #F5E8C1);
	padding: 100px 0px;
	position: relative;
	
}

.banner-overlay {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
  }

.banner-overlay .container 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 50px;
	margin-top: 20px;
}
.banner-overlay .container .row {
	margin-top: auto;
}

/* .banner::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/pattern.png);
} */

/* .banner a.weblink {
	color: #F6F2D7;
	border-bottom: 1px dotted #F6F2D7;
}

.banner a:hover {
	text-decoration: none;
} */

.search-container {
	background-color: #fff;
	padding: 10px;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;

}

.search-input {
	flex: 1;
	min-width: 180px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	border-radius: 8px;
	margin: 10px;
}

.dropdown {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #fff;
	min-width: 160px;
}


.search-button {
	background-color: #7a2e00;
	color: #F6F2D7;
	border: none;
	padding: 10px 16px;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s;
}

.search-button:hover {
	background-color: transparent;
	color: #681F00;
	border: 1px solid #681F00;
}

.note {
	margin-top: 10px;
	font-size: 14px;
	color: #555;
}


.icon-img {
	width: 16px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
  }
  

  .input-icon {
	position: relative;
	display: inline-block;
  }
  
  .icon-img {
	width: 16px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
  }
  
  .input-icon select {
	padding-right: 30px;
  }
  





.description {
	color: #7f7f7f !important;
}

.banner-text {
	padding-right: 0px;
	margin: 70px 0px 0px;
	flex: 1 1 500px;
  direction: rtl;
}

.banner-text p {
	margin: 40px 0px;
	font-size: 30px; 
	
}

.banner-text ul {
	list-style: none;
}

.banner-text ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

.banner-text ul li a {
	display: block;
}

.banner-btn {
	background-color: #5e1f00;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: pulse 2s infinite;
}

.banner-btn:hover {
	transform: scale(1.1);
	color: #000000;
}

@keyframes pulse {
	0% {
	  transform: scale(1);
	  box-shadow: 0 0 0 0 rgba(94, 31, 0, 0.7);
	}
	70% {
	  transform: scale(1.05);
	  box-shadow: 0 0 0 10px rgba(94, 31, 0, 0);
	}
	100% {
	  transform: scale(1);
	  box-shadow: 0 0 0 0 rgba(94, 31, 0, 0);
	}
  }

.banner-text ul li a img {
	width: 150px;
	border-radius: 7px;
}

#typewriter {
	direction: rtl;
	font-family: 'Cairo', sans-serif;
	font-size: 35px;
	white-space: nowrap;
	overflow: hidden;
	border-left: 3px solid #5e1f00; /* استخدم border-left للعربية */
	width: 0;
	animation: typing 8s steps(30) forwards, blink-caret 0.75s step-end infinite;
  }
  
  /* تأثير الكتابة */
  @keyframes typing {
	from {
	  width: 0;
	}
	to {
	  width: 27ch; /* عدل حسب عدد حروف الجملة تقريبًا */
	}
  }
  
  /* وميض المؤشر */
  @keyframes blink-caret {
	50% {
	  border-color: transparent;
	}
  }
  




  /* .floating {
	animation: floatInPlace 3s ease-in-out  ;
	position: relative;
  }
  
  @keyframes floatInPlace {
	0% {
	  transform: translate(0, 0);
	}
	25% {
	  transform: translate(5px, -5px);
	}
	50% {
	  transform: translate(0px, -10px);
	}
	75% {
	  transform: translate(-5px, -5px);
	}
	100% {
	  transform: translate(0, 0);
	}
}
   */
  




  




.prelative {
	position: relative
}

.section-padding {
	padding: 80px 0px;
}

.sectioner-header {
	width: 69%;
	margin: 0 auto;
	padding-top: 10px;
}

.line {
	height: 2px;
	width: 50px;
	background: #681F00;
	display: block;
	margin: 20px auto 20px;
}

.line::after {
	content: "";
	position: absolute;
	left: 50%;
	width: 150px;
	height: 2px;
	border-bottom: 2px dashed #681F00;
	margin-left: -75px;
}

.sectioner-header p {
	color: #818992;
	font-size: 17px;
}

.section-content {
	margin-top: 80px;
}

.icon-box {
	margin-bottom: 50px;
}

.icon-box i {
	display: block;
	position: relative;
	width: 135px;
	height: 135px;
	border-radius: 100px;
	background: #521800;
	background: linear-gradient(to right, #521800, #B83700);

	color: #F6F2D7;
	font-size: 50px;
	line-height: 135px;
	margin: 0 auto;
}

.icon-box h5 {
	margin-top: 30px;
}

.icon-box p {
	color: #818992;
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
}

.about-btn {
	color: #681F00;
	padding: 10px 40px;
	border: 2px solid #681F00;
	border-radius: 7px;
	margin-top: 30px;
	display: inline-block;
	font-size: 18px;
}

.about-btn:hover {
	background: #681F00;
	color: #F6F2D7;
	text-decoration: none;
}



.single-feature {
	margin-bottom: 80px;
	margin-top: 40px;
}

.single-feature h5 {
	font-size: 16px;
}

.media-right-margin {
	margin-right: 25px;
}

.single-feature p {
	font-size: 13px;
}



.icon-border span {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	color: #681F00;
	font-size: 18px;
	line-height: 50px;
	border: 1px solid #681F00;
}




.faq {
	background: #fafafa;
	border-bottom: 1px solid #e4e4e4;
}

.faq-content {
	margin: 20px 0px;
}

.faq-content h4 {
	font-weight: 400;
	font-size: 20px;
}

.faq-content p {
	color: #818992;
	font-weight: 300;
	margin-top: 15px;
}

#contact_form .form-input {
	border: 1px solid #e4e4e4;

}

input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 0;
}

#contact_form textarea {
	resize: none;
	padding: 1rem;
	height: 150px;
	background: #fff;
	border: 0;
	border-radius: 30px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-grad {
	padding: .7rem 2rem;
	display: inline-block;
	color: #fff;
	border-radius: 2rem;
	border: 0;
	background: #521800;
	background: linear-gradient(to right, #521800, #B83700);

	cursor: pointer;
}

.contact-info {
	padding: 1rem 2rem 1rem;
	border-radius: 8px;
	background: #521800;
	background: linear-gradient(to right, #521800, #B83700);


}

.contact-info .text-uppercase {
	color: #fff;
	font-weight: 500;
}



.contact-info i {
	color: #fff;
}

.contact-item {
	margin: 23px 0px;
}

.contact-item i {
	font-size: 20px;
}

.contact-item p {
	line-height: 20px;
	margin: 0;
}

.download {
	background: #521800;
	background: linear-gradient(to right, #521800, #B83700);

	padding: 100px 0px;
	position: relative;
}

.download::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/pattern.png);
}

.download h3 {
	color: #fff;
}

.download .white {
	color: #fff;
}

.download ul {
	list-style: none;
}

.download ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

.download ul li a {
	display: block;
}

.download ul li a img {
	width: 150px;
	border-radius: 7px;
}



@media all and (max-width:991px) {
	.navbar .navbar-collapse {
		overflow: auto;
		background: rgb(243, 226, 176);
		color: #fff !important;
		text-align: center;
		padding: 10px 0;
	}

	.nav-scroll .navbar-collapse {
		background: #fff !important;
	}

	#contact_form {
		margin-bottom: 20px;
	}
}

@media all and (max-width:768px) {

	.nav-scroll .navbar-brand img,
	.navbar-brand img {
		transform: scale(0.75) !important;
		-webkit-transform: scale(0.75) !important;
	}

	.banner-text {
		padding-right: 0px;
		margin: 10px 0px 0px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 23px;
	}

	.section-padding {
		padding: 40px 0px;
	}

	.banner-text p {
		margin: 25px 0px;
	}

	.banner-text ul li a img {
		width: 140px;
		border-radius: 7px;
	}

	.sectioner-header {
		width: 90%;
	}

	.sectioner-header p {
		font-size: 14px;
	}

	.about-btn {
		padding: 5px 30px;
		margin-top: 0px;
		font-size: 16px;
	}

	.single-feature {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.team-detail {
		margin-top: 20px;
	}

	.team-detail img {
		width: 50%;
	}

	.bx-controls {
		display: none;
	}

	.bx-wrapper {
		margin: 0px 20px !important;
	}

	.slider .test-img img {
		margin: 0 auto;
	}

	.test-img {
		float: none;
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}

	.test-text {
		float: none;
		width: 100%;
		text-align: center;
	}

	.section-content {
		margin-top: 40px;
	}

	.faq-content {
		margin: 10px 0px;
	}

	.faq-content h4 {
		font-size: 16px;
	}

	.faq-content p {
		font-size: 13px;
	}

	#contact_form {
		margin-bottom: 20px;
	}

	.contact-item {
		font-size: 12px;
	}

	.download ul li a img {
		width: 120px;
	}

	.footer-copy p {
		font-size: 10px;
	}
}